/*секция 1*/

.section {
	padding-top: 95px;
	padding-bottom: 95px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: 480px) {
		width: 480px;
	}

	@media screen and (min-width: 768px) {
		width: 768px;
	}
	@media screen and (max-width: 1199px) {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@media (min-width: 1200px) {
		width: 1600px;
		margin-left: auto;
		margin-right: auto;
	}
}

.bissnes {
	padding-top: 200px;
	padding-bottom: 200px;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: 480px) {
		width: 480px;
	}
	@media screen and (min-width: 768px) {
		width: 768px;
	}
	@media screen and (max-width: 1199px) {
		padding-top: 118px;
		padding-bottom: 118px;
	}
	@media screen and (min-width: 1200px) {
		width: 1600px;
		margin-left: auto;
		margin-right: auto;
	}
}
@media screen and (max-width: 767px) {
	.fon {
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../../../images/Header450.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	@media screen and (min-device-pixel-ratio: 2),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx) {
		.fon {
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../../../images/Header450@2x.jpg");
		}
	}
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
	.fon {
		background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../images/header768.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	@media screen and (min-device-pixel-ratio: 2),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx) {
		.fon {
			background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../../images/header768@2x.jpg");
		}
	}
}
@media screen and (min-width: 1200px) {
	.fon {
		max-width: 1600px;
		background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
			url("../../../images/header1600.jpg");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	@media screen and (min-device-pixel-ratio: 2),
		screen and (-webkit-min-device-pixel-ratio: 2),
		screen and (-o-min-device-pixel-ratio: 2/1),
		screen and (min-resolution: 192dpi),
		screen and (min-resolution: 2dppx) {
		.fon {
			background-image: -webkit-gradient(
					linear,
					left top,
					left bottom,
					from(rgba(47, 48, 58, 0.4)),
					to(rgba(47, 48, 58, 0.4))
				),
				url("../../../images/header1600@2x.jpg");
			background-image: -o-linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../../../images/header1600@2x.jpg");
			background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
				url("../../../images/header1600@2x.jpg");
		}
	}
}

.services {
	margin-top: 0px;
	margin-bottom: 30px;
}

.services__text {
	font-family: $font-famili;
	font-size: 44px;
	font-weight: 900;
	text-transform: uppercase;
	text-align: center;
	margin: 0px;
	line-height: 60px;
	color: #ffffff;

	@media screen and (max-width: 1199px) {
		font-size: 26px;
		line-height: 42px;
	}
}
