/*ПОДВАЛ*/
.footer {
	background-color: $b-cdark;
	/* min-width: 1600px; */
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: 480px) {
		width: 480px;
	}

	@media screen and (min-width: 768px) {
		width: 768px;
	}
	@media (min-width: 1200px) {
		width: 1200px;
	}
}

/* .contakts {
	display: inline-flex;
} */

.contakts--style {
	width: 224px;

	margin-right: 70px;

	@media screen and (max-width: 480px) {
		/* display: flex; */
		margin-right: 0px;
	}
}

.address {
	display: block;
	margin: 0px;
}

.address__text {
	font-family: $font-famili;
	font-style: $font-style;
	font-weight: 400;
	font-size: $font-size;
	line-height: 34px;
	letter-spacing: 0.03em;
	color: #ffffff;
	margin: 0px;
}

.address__link {
	font-style: $font-style;
	font-weight: $font-weight;
	font-size: $font-size;
	line-height: 34px;
	letter-spacing: 0.03em;
	color: rgba(255, 255, 255, 0.6);
	margin: 0px;
	text-decoration: none;
}

.address__p {
	margin: 0px;
}
/* ФОРМА */

.block-form {
	display: block;
}

.block-form__heading {
	font-family: $font-famili;
	font-style: $font-style;
	font-weight: bold;
	font-size: $font-size;
	line-height: 16px;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: #ffffff;

	margin-top: 0px;
	margin-bottom: 20px;
}

/* .form-send {
	display: flex;
} */

.form-send__mail {
	margin-right: 12px;
}

.form-send__email {
	width: 358px;
	height: 50px;

	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;

	background-color: rgba(0, 0, 0, 0);

	&::placeholder {
		font-family: $font-famili;
		font-style: $font-style;
		font-weight: $font-weight;
		font-size: 16px;
		letter-spacing: 0.03em;

		color: rgba(255, 255, 255, 0.6);

		padding-left: 16px;
	}
}
