/* ШАПКА */

.header {
	background: $b-cheader;

	padding-top: 25px;
	padding-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
	border: 0px;

	@media screen and (min-width: 480px) {
		width: 480px;
	}

	@media screen and (min-width: 768px) {
		width: 768px;
	}
	@media screen and (max-width: 1199px) {
		padding-top: 21px;
		padding-bottom: 21px;
	}
	@media screen and (min-width: 1200px) {
		width: 1200px;
	}
}

.flexbox .menu-container {
	@media screen and (min-width: 1200px) {
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}
}
